@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

@font-face {
    font-family: "Baloo";
    src: url('Baloo2-VariableFont_wght.ttf') format('opentype');
  }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@100&family=Mulish&family=Raleway:ital,wght@1,200&display=swap');

@font-face {
    font-family: "Comic";
    src: url('ComicNeue-Regular.ttf') format('opentype');
  }


/*MENU*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #018d97;
    box-shadow: 0px 2px 10px #464646;
    position: sticky;
    top: 0px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: -1.5rem 7rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 200%;
}

.logo-rel {
    height: 50%;
    margin-left: 50px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: left;  
    margin-right: 10px;
}

.nav-item {
    margin: 0px 40px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: right;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #942C27;
    margin: 10px;
    position:relative;
    right: 50px;
    bottom: 0;
    top: 55px;
}

.login-button button:hover {
    background-color: #000000;
    transition: 0.5s;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        padding: 0.1rem 3rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
        width: 150px;
        margin-left: 42%;
        position: relative;
        bottom: 60px;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 1rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

.mapa{
    height: 450px;
    width: 100%;
}


/*TITULOS*/

.titulos1{
    padding: 2%;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: #018d97;
}

.titulos2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #018d97;
    font-size: 200%;
}

.paragrafo::first-letter {
    font-size: 30px;
    font-weight: bold;
}

/*CAIXA*/

#caixa {
    height: 500px;
    width: 100%;
    background-color: black;
    display: inline-block;
}

#caixa-p{
    color: #fff;
    font-family: Baloo;
    font-size: 50px;
    display: inline;
    vertical-align: center;
    
}

#caixa-img {
    width: 40%;
    height: 50%;
    padding: center;
}


/*LOCALIZAÇÃO*/

.inframe {
    width: 100%;
    height: 550px;
}


/*INFORMAÇÕES MAIS IMPORTANTES - HISTÓRIA*/

.div {
    Width: 50%;
    background-color: #F6FCFC;
    display: inline-block;
    vertical-align: top;
    padding: 4%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paragrafo {
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img {
    Width: 40%;
    Height: 45%;
    border-radius: 10px;
    margin-top: 4px;
    margin: center;
    background-color: #F6FCFC;
}



/*INFORMAÇÕES DEMOGRAFICAS*/

.demografico{
    padding: 2%;
    text-align: left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: #fff;
    padding-left: 4%;
}

.informacoes-demograficas {
    background-color: #018d97;
    height: 80%;
}

.demografico-p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2%;
    width: 20%;
    height: 25%;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 35px;
    color: #000000;
    border-radius: 5px;
    padding: 0.5%;
    margin-left: 4%;
    text-align: center;
    font-size: 90%;
    margin: center;
}


/*TRANSPORTE*/
#transporte-mapa{
    display: inline-block;
    width: 60%;
    margin-left: 2%;
    margin-bottom: 20px;
}

#pontos{
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 20px;
    vertical-align: top;
}

.transporte{
    background-color: #018d97;
    color: #fff;
}


/*RODAPÉ*/
.rodape {
    clear: left;
    width: 100%;
    height: 30vh;
    background-color: #018d97;
    margin-bottom: 0px;
}

#rodape-p {
    width: 60%;
    font-family: Comic;
    font-weight: 600;
    font-size: 40px;
    margin-left: 5%;
    padding-top: 50px;
    color: #fff;
    font-weight: 300;
    display: inline-block;
}

#rodape-linha {
  margin-top: -2.5%;
  margin-left: 5%;
  margin-right: 10.5%;
  
}

#rodape-direitos {
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: 0.5%;

}

#conjuntoimagens {
    position: relative;
    left: 70%;
    bottom: 25%;
    /* margin-top: 40px; */
}


/*TESOUROS VILA IPOJUCA*/
.tesouros {
background-color: #F6FCFC;
height: 550px;
}

#video{
    /* float: left; */
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 23%;   
    width: 50%;
    height: 400px;
}

/*REFERENCIA*/
.referencia {
    font-size: 10px;
    color: #000000;
}